<div class="d-flex w-100">
  <div>
    <!-- Sidebar de categorías -->
    <app-category-sidebar
      (categorySelected)="filterByCategory($event)"
    ></app-category-sidebar>
  </div>

  <div class="d-flex flex-column align-items-center w-100">
    <div class="d-flex justify-content-between w-60">
      <!-- Filtro de búsqueda -->
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="E.g.: Mia" />
      </mat-form-field>

      <!-- Selector de moneda -->
      <div class="currency-selector">
        <span>Currency:</span>
        <mat-button-toggle-group
          [value]="selectedCurrency"
          (change)="changeCurrency($event.value)"
        >
          <mat-button-toggle value="USD">USD ($)</mat-button-toggle>
          <mat-button-toggle value="EUR">EUR (€)</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <!-- Tabla de productos -->
    <div class="mat-elevation-z8 w-60">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Imagen -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let product">
            <img
              [src]="product.images[0]"
              alt="{{ product.title }}"
              width="50"
              height="50"
            />
          </td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td
            mat-cell
            *matCellDef="let product"
            [ngClass]="{
              'stock-danger': product.stock === 0,
              'stock-warning': product.stock > 0 && product.stock < 50,
              'stock-normal': product.stock >= 50
            }"
          >
            {{ product.title }}
          </td>
        </ng-container>

        <!-- Marca -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef>Brand</th>
          <td mat-cell *matCellDef="let product">{{ product.brand }}</td>
        </ng-container>

        <!-- Precio -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let product">
            {{
              getConvertedPrice(product.price)
                | currencyFormat : getCurrencySymbol()
            }}
          </td>
        </ng-container>

        <!-- Stock -->
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef>Stock</th>
          <td
            mat-cell
            *matCellDef="let product"
            [ngClass]="{
              'stock-danger': product.stock === 0,
              'stock-warning': product.stock > 0 && product.stock < 50,
              'stock-normal': product.stock >= 50
            }"
          >
            {{ product.stock }}
          </td>
        </ng-container>

        <!-- Rating -->
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef>Rating</th>
          <td mat-cell *matCellDef="let product">{{ product.rating }}</td>
        </ng-container>

        <!-- Acciones -->
        <!-- En la sección de columna "actions" -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let product">
            <button mat-button (click)="viewProduct(product.id)">View</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Paginador -->
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[10, 25, 50, 100]"
        (page)="onPageChange($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
